/*Base*/

html, body {
  margin: 0;
  padding: 0;
}

/*Chart Formatting*/

.chart {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.state {
  /* fill: #f2f2f2; */
  fill: #9a9a9a;
}

.state:hover {
  fill: #c1f7dc;
}

g:hover {
  cursor: pointer;
}

/*Title Formatting*/

#title {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#titleText {
  font-size: 1.3em;
  font-family: sans-serif;
  text-align: center;
  font-weight: 100;
}

/*Legend Formatting*/

.legend {
  position: absolute;
  bottom: calc(5% + 35px);
  left: 50%;
  transform: translateX(-50%);
  /* top: 20px; */
  /* left: 15px; */
  font-size: 0.8em;
  font-family: sans-serif;
  text-align: center;
  font-weight: 100;
  width: 250px;
  /* height: 20px; */
  margin: auto;
  /* background-color: #e2e2e2; */
}

.legendTitle {
  position: absolute;
  top: -20;
  left: 8;
}

.legendColors {
  margin: 6 0;
  width: 100%;
  text-align: center;
}

.legendBar {
  display: inline-block;
  width: 22%;
  height: 5px;
  /* background-color: #b93131; */
}

#cell1 {
  background-color: #9a9a9a;
  opacity: 0.1;
}

#cell2 {
  background-color: #9a9a9a;
  opacity: 0.35;
}

#cell3 {
  background-color: #9a9a9a;
  opacity: 0.65;
}

#cell4 {
  background-color: #9a9a9a;
  opacity: 1;
}

.legendLabel {
  top: 10px;
  position: absolute;
}

#least {
  left: 8;
}

#most {
  right: 8;
}

/*Timeline and Credits Formatting*/

.credits {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 1;
  font-size: 0.5em;
  font-family: sans-serif;
  font-weight: 100;
  text-align: right;
}

.timeline {
  position: absolute;
  overflow: auto;
  z-index: 1;
  width: calc(100% - 550px);
  bottom: 10px;
  left: 10px;
  height: 17px;
}

.timelineFade {
  position: absolute;
  bottom: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 2;
  width: calc(100% - 540px);
  height: 40px;
  pointer-events: none;
}

.timelineList {
  min-width: 450px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 550px;
  height: 40px;
  background: #fff;
}

.year {
  /*position: absolute;*/
  display: inline-block;
  /*bottom: 0;*/
  margin: 0 10px 0 10px;
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  /*padding: 0 10px 0;*/
  /*background: #f2f2f2;*/
  /*border-radius: 5px;*/
}

.year:hover {
  cursor: pointer;
}

[id="2015"] {
  color: #36c87e;
}
