/*Base*/

html, body, .content {
  margin: 0;
  padding: 0;
}

/*Chart Formatting*/

.chart {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.state {
  /* fill: #f2f2f2; */
  fill: #9a9a9a;
}

.state:hover {
  fill: #adfcff;
}

g:hover {
  cursor: pointer;
}

.county {
  display: none;
}

/*Title Formatting*/

.titleBox {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
  vertical-align: center;
}

.errorText {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}

.titleBox:hover {
  opacity: 0.2;
}

#title {
  /* width: 100%; */
  background: #fff;
  padding: 5 20;
  margin: 0;
  border-radius: 5px;
  /* box-shadow: 0 0 60px 3px rgba(0, 0, 0, 0.15); */
  transition: 0.2s;
  display: inline-block;
  vertical-align: center;

}

.shadow {
  box-shadow: 0 0 60px 3px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

#titleText {
  font-size: 1.3em;
  font-family: sans-serif;
  text-align: center;
  font-weight: 100;
}

#download {
  position: absolute;
  z-index: 1;
  top: 5vh;
  right: 5vh;
  overflow: hidden;
  vertical-align: center;
  /* padding: 10px; */
  background: #fff;
  border-radius: 5px;
  transition: 0.2s;
}

#logo {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 5vh;
  overflow: hidden;
  vertical-align: center;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  transition: 0.2s;
}

#download:hover {
  cursor: pointer;
  /* background: #adfcff; */
}

.svgImage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 50%;
}

#intro {
  position: absolute;
  z-index: 1;
  /* top: 50%; */
  top: calc(5% + 40px);
  left: 50%;
  transform: translateX(-50%) /*translateY(-50%)*/;
  width: 90%;
  /* width: 40%; */
  /* pointer-events: none; */
  /* padding: 5px 10px; */
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3); */
}

#introText {
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  font-weight: 100;
  font-style: italic;
}

/*Legend Formatting*/

.legend {
  position: absolute;
  z-index: 1;
  /* bottom: calc(5% + 60px); */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  bottom: 1px;
  left: 20px;
  font-size: 0.8em;
  font-family: sans-serif;
  text-align: center;
  font-weight: 100;
  width: 250px;
  /* height: 20px; */
  margin: auto;
  /* background-color: #e2e2e2; */
}

.legendTitle {
  position: absolute;
  bottom: 4;
  /* left: 8px; */
  left: 50%;
  transform: translateX(-50%);
}

.legendColors {
  margin: 6 0;
  width: 100%;
  text-align: center;
}

.legendBar {
  display: inline-block;
  width: 22%;
  height: 5px;
  /* background-color: #b93131; */
}

#cell1 {
  background-color: #9a9a9a;
  opacity: 0.1;
}

#cell2 {
  background-color: #9a9a9a;
  opacity: 0.35;
}

#cell3 {
  background-color: #9a9a9a;
  opacity: 0.65;
}

#cell4 {
  background-color: #9a9a9a;
  opacity: 1;
}

.legendLabel {
  bottom: 4;
  position: absolute;
  font-style: italic;
}

#least {
  left: 10;
}

#most {
  right: 10;
}

/*Timeline and Credits Formatting*/

.credits {
  position: absolute;
  bottom: 15px;
  right: 20px;
  z-index: 1;
  font-size: 0.5em;
  font-family: sans-serif;
  font-weight: 100;
  text-align: right;
}

.timeline {
  position: absolute;
  overflow: auto;
  z-index: 1;
  width: calc(100% - 730px);
  bottom: 7px;
  left: 20px;
  /* min-height: 17px; */

  display: none;
}

.timelineFade {
  position: absolute;
  bottom: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 2;
  width: calc(100% - 720px);
  height: 40px;
  pointer-events: none;
}

.timelineList {
  min-width: 520px;
  padding-bottom: 3px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 40px;
  background: #fff;
}

.year {
  /*position: absolute;*/
  display: inline-block;
  /*bottom: 0;*/
  margin: 0 18px 0 2px;
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  /*padding: 0 10px 0;*/
  /*background: #f2f2f2;*/
  /*border-radius: 5px;*/
}

[id="1949"] {
  margin: 0 0 0 0;
}

.year:hover {
  cursor: pointer;
}

[id="2018"] {
  color: #31C6CC;
}

/* Custom Timeline Scrollbar */
.timeline::-webkit-scrollbar {
  height: 3px;
}

.timeline::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.timeline::-webkit-scrollbar-thumb {
  background: #31C6CC;
}

@media only screen and (max-width: 1000px) {
  .content {
    display: none;
  }

  .errorText {
    display: block;
  }
}
